body {
  text-align: center; }
  body .header-box-pc {
    margin: 20px 10%;
    text-align: right; }
    body .header-box-pc span {
      margin: 5px; }
  body .container {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
    body .container hr {
      border-color: #E5E5E5; }
      body .container .login-box > input, body .container .login-box > h3 {
        margin-bottom: 10px; }
        body .container h3 {
          text-align: left; }
          body .container .status {
            font-size: 12px;
            color: red; }
            body .container .favo-team {
              cursor: pointer; }
              body .container input:checked + div.favo-team {
                color: gray;
                box-shadow: 2px 2px 4px gray; }
                body .container .status-box-1, body .container .status-box-2,
                body .container .status-box-3 {
                  clip: rect(1px, 1px, 1px, 1px);
                  display: none; }
                  body .container .status-label {
                    padding: 0.3rem;
                    margin: 0.5rem 0;
                    width: 80%;
                    border-radius: 3px;
                    transition: all 0.2s;
                    border: 1px solid #ACB3BF;
                    color: #ACB3BF; }
                    body .container .status-box-1:checked + .status-label,
                    body .container .status-label-1-checked {
                      color: #060389;
                      border: 1px solid #060389;
                      text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
                      body .container .status-box-2:checked + .status-label,
                      body .container .status-label-2-checked {
                        color: #038910;
                        border: 1px solid #038910;
                        text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
                        body .container .status-box-3:checked + .status-label,
                        body .container .status-label-3-checked {
                          color: #890303;
                          border: 1px solid #890303;
                          text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
                          body .container .comment-area {
                            height: calc( 1.3em * 10 );
                            line-height: 1.3;
                            margin: 10px 0px;
                            width: 100%;
                            padding: 20px; }
                            body .container input {
                              width: 100%;
                              height: 50px; }
                              body .container input .radio {
                                display: none; }
    body .container .logo-normal {
      width: 150px;
      height: 150px; }
      body .container .logo-no-log {
        opacity: 30%; }
        body .container .logo-mini {
          width: 30px;
          height: 30px; }
          body .container .edit {
            width: 100%; }
            body .container .log-box {
              text-align: left;
              font-size: 14px;
              line-height: 10px; }
              body .container .like {
                cursor: pointer;
                font-size: 20px; }
                body .container .log-box p {
                  margin: 10px; }
                  body .container .log-box div {
                    margin: 10px; }
    body .container .font-mini {
      font-size: 12px; }
      body .container .status-mini .status-label {
        text-align: center;
        font-size: 12px;
        width: 150px; }

@media screen and (max-width:767px) {
  .header-box-pc {
    display: none;   }
    .header-box-sp {
      margin: 20px 10%;   }
      .hamburger {
        display: block;
        position: fixed;
        z-index: 3;
        right: 13px;
        top: 12px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;   }
        .hamburger span {
          display: block;
          position: absolute;
          width: 30px;
          height: 2px;
          left: 6px;
          background: #555;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;   }
          .hamburger span:nth-child(1) {
            top: 10px;   }
            .hamburger span:nth-child(2) {
              top: 20px;   }
              .hamburger span:nth-child(3) {
                top: 30px;   }
                .hamburger.active span:nth-child(1) {
                  top: 16px;
                  left: 6px;
                  -webkit-transform: rotate(-45deg);
                  -moz-transform: rotate(-45deg);
                  transform: rotate(-45deg);   }
                  .hamburger.active span:nth-child(2), .hamburger.active span:nth-child(3) {
                    top: 16px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    transform: rotate(45deg);   }
                    nav.globalMenuSp {
                      position: fixed;
                      z-index: 2;
                      top: 0;
                      left: 0;
                      color: #000;
                      background: #fff;
                      text-align: center;
                      transform: translateX(100%);
                      transition: all 0.6s;
                      width: 100%;   }
                      nav.globalMenuSp ul {
                        background: #FFF0F5;
                        margin: 0 auto;
                        padding: 0;
                        width: 100%;   }
                        nav.globalMenuSp ul li {
                          list-style-type: none;
                          padding: 0;
                          width: 100%;
                          border-bottom: 1px solid #fff;   }
                          nav.globalMenuSp ul li:last-child {
                            padding-bottom: 0;
                            border-bottom: none;   }
                            nav.globalMenuSp ul li:hover {
                              background: #ddd;   }
                              nav.globalMenuSp ul li a {
                                display: block;
                                color: #000;
                                padding: 1em 0;
                                text-decoration: none;   }
                                nav.globalMenuSp.active {
                                  transform: translateX(0%);   }
}
