body{
    text-align: center;
}

.container{
    margin: 0 auto;
}

hr{
   border-color: #E5E5E5;
}

h3{
    text-align: left;
}

.col-md-2{
    display: inline-block;
}

.favo-team{
    cursor: pointer;
}

input:checked + div.favo-team{
    color: gray;
    box-shadow: 2px 2px 4px gray;
}

input{
    width: 100%;
    height: 50px;
}

input.radio{
    display:none;
}

img{
    width: 150px;
    height: 150px;
}