<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="../static/main.css">
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- fontawesome -->
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Games | J-ikitai!</title>
</head>
<body>
    <!-- header を共通化 -->
    {% include "header.html" %}

    <h1>J-ikitai!</h1>
    <div class="container">
        <hr>
        <h2>Mate-activities</h2>
        <div>
            {% for log in logs %}
            <div class="log-box">
                <p class="fw-bold">{{log.User.nickname}}</p>
                <p class="fw-light text-muted font-mini">{{log.UserWatchingLog.created_at.strftime("%Y/%m/%d")}}</p>
                {% if log.User.favo_teams_id == log.Game.home_team_id %}
                    <p class="d-inline">
                        vs{{teams[log.Game.away_team_id-1].team_name}}
                        <img class="logo-mini d-inline" src="{{url_for('static',filename='images/' ~ teams[log.Game.away_team_id-1].team_name ~ '.png')}}">
                        {{log.Game.home_team_score}} - {{log.Game.away_team_score}}
                        <div class="status-mini">
                            {% if log.UserWatchingLog.status == 1 %}
                                <label class="status-label status-label-1-checked" for="status-1" id="status-1" checked="checked">スタジアム観戦</label>
                            {% endif %}
                        </div>
                        <div class="status-mini">
                            {% if log.UserWatchingLog.status == 2 %}
                                <label class="status-label status-label-2-checked" for="status-2" id="status-2" checked="checked">スタジアム外観戦</label>
                            {% endif %}
                        </div>
                        <div class="status-mini">
                            {% if log.UserWatchingLog.status == 3 %}
                                <label class="status-label status-label-3-checked" for="status-3" id="status-3" checked="checked">未観戦</label>
                            {% endif %}
                        </div>
                    </p>
                {% else %}
                    <p>
                        vs{{teams[log.Game.home_team_id-1].team_name}}
                        <img class="logo-mini d-inline" src="{{url_for('static',filename='images/' ~ teams[log.Game.home_team_id-1].team_name ~ '.png')}}">
                        {{log.Game.away_team_score}} - {{log.Game.home_team_score}}
                    </p>
                    <div class="status-mini">
                        {% if log.UserWatchingLog.status == 1 %}
                            <label class="status-label status-label-1-checked" for="status-1" id="status-1" checked="checked">スタジアム観戦</label>
                        {% endif %}
                    </div>
                    <div class="status-mini">
                        {% if log.UserWatchingLog.status == 2 %}
                            <label class="status-label status-label-2-checked" for="status-2" id="status-2" checked="checked">スタジアム外観戦</label>
                        {% endif %}
                    </div>
                    <div class="status-mini">
                        {% if log.UserWatchingLog.status == 3 %}
                            <label class="status-label status-label-3-checked" for="status-3" id="status-3" checked="checked">未観戦</label>
                        {% endif %}
                    </div>
                {% endif %}
                <p>{{log.UserWatchingLog.comment}}</p>
                <p class="like">
                    <a onclick="api_like({{log.UserWatchingLog.id}})">
                        <span id="like-{{log.UserWatchingLog.id}}">{{liked_list.count(log.UserWatchingLog.id)}}</span> <i class="far fa-thumbs-up" id="like-icon"></i>
                    </a>
                </p>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- jsの読み込み -->
    <script src="../static/js/javascript.js">
    </script>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted">Copyright naotsukamoto</span>
        </div>
    </footer>
</body>
