<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="../static/main.css">
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Games | J-ikitai!</title>
</head>
<body>
    <header>
        <span class="user-email">{{user_email}}</span>
        <a href="/logout">ログアウト</a>
    </header>

    <h1>J-ikitai!</h1>
    <div class="container">
        <hr>
        <h2>Mate-activities</h2>
        <div>
            {% for log in logs %}
            <div>
                {{log.user_id}}:{{log.game_id}}
                <p>{{log.status}}</p>
                <p>{{log.comment}}</p>
            {% endfor %}
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted">Copyright naotsukamoto</span>
        </div>
    </footer>
</body>
