<!DOCTYPE html>
<head>
    <title>Signup | J-ikitai!</title>
</head>
<body>
    <h1>J-ikitai!</h1>
    <br>

    <h2>Sign up</h2>

    <form action="/signup" method="post">
        <h3>ID</h3>
        <input type="text" name="email" placeholder="example@example.com">
        <h3>Password</h3>
        <input type="password" name="password" placeholder="••••••••••••">
        <h3>Nickname</h3>
        <input type="text" name="nickname" placeholder="example" >
        <h3>Select team</h3>
        <div>
            <input type="radio" name="favo_team_id" value=1 checked>aa
            <input type="radio" name="favo_team_id" value=2 >bb    
        </div>
        <input type="submit" value="アカウント作成">
    </form>
</body>